/* Ini CSS Eksternal */

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px;
    background: linear-gradient(135deg, #3b82f6, #93c5fd);

}

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    
    }

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    transition: 0.3s;
    animation: fadeIn 1s ease-in-out;
}
.container:hover {
    transform: scale(1.02)
}
input, select {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 2px solid #0f77ff;
    outline: none;
}
button {
    padding: 12px 25px;
    background: #1572dd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
button:hover {
    background: #110de2;
    transform: scale(1.05);
}
.image-container {
    margin: 20px 0;
}
img {
    width: 180px;
    height: auto;
    transition: 0.3s;
}
img:hover {
    transform: rotate(5deg);
}